.intro_about{
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    font-weight: 200;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
   
}

.text_about span{
    font-weight: 200;
   
}
.text_about h2{
    position: relative;
}
.text_about h2:before{
        position: absolute;
        content: '';
        left: 220px;
        bottom: 17px;
        width: 210px;
        height: 2px;
        background-color: var(--accent);
    }

   

.text_about{
    max-width: 450px;
    text-align: justify;
    padding-left: 1rem;
    position: relative;
}

@media (max-width: 48em) {

    .intro_about{
        display: block;
       
    }
}