.card{
    font-family: 'Kanit', sans-serif;
    width: 300px;
    height: 340px;
    background:var(--background-card);
    /*border-radius: 10px;*/
    color:var(--text-extra);
    margin: 20px;
    transition: all 0.8s ease;
    display: flex; 
    justify-content: center;
    align-items: center;  
    box-shadow:var(--fbox-shadow);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    margin-left: 4rem;
  }
   
   .card:hover{
    background-position: left center;
    background-size: 500px;
  }
  .border{
    opacity: 0;
    width: 280px;
    height: 330px;
    border: 1px solid var(--text-extra);
    
    transition: all 0.4s ease;
    position: relative;
    background-color:var(--background-card);
  }
   .card:hover .border{
    opacity: 1;
  }
  .border h1{
    top: 30px;
    left: 15px;
    position: absolute;
    font-size: 36px;
     z-index:3;
    text-transform:uppercase;
    color: var(--text-primary);
   font-weight: 800;
   line-height: 38px;
    
  }
  /*.border img {
    position: absolute;
    width:50%;
    top:90px;
    left:50px;
    z-index:1;
  }*/
  .border button{
    top: 200px;
    left: 70px;
    position: absolute;
    font-size: 18px;
    padding:6px 28px;
    background-color: var(--accent);
    color:var(--text-extra);
    border-color:transparent;
    width:auto;
  }
  
  .border ul{
    bottom: 20px;
    left: 20px;
    position: absolute;
    transition: all 0.4s ease;
  }
  .border li{
    margin: 5px 0;
    transform: translateX(-120px);
    transition: all 0.4s ease;
    color: var(--accent);
    list-style: none;
    font-size: 25px;
  }
  .border li:nth-child(1){
    transition: all 0.4s ease;
  }
  .border li:nth-child(2){
    transition: all 0.6s ease;
  }
  .border li:nth-child(3){
    transition: all 0.8s ease;
  }
  .border li:nth-child(4){
    transition: all 1s ease;
  }
  .border li:nth-child(5){
    transition: all 1.2s ease;
  }
  .border li i{
    transition: all 0.6s ease;
    cursor: pointer;
    color:#131313;
    
  }
  .border li:hover i{
    color: var(--accent);
  }
   .card:hover .border ul{
    transform: translateX(0);
  }
   .card:hover .border ul li{
    transform: translateX(0);
  }
  @media (max-width: 500px) {
    .card{
      margin-left: 1rem;
    }
    
}
  