.card{
    font-family: 'Kanit', sans-serif;
    width: 300px;
    height: 340px;
    background: black;
    /*border-radius: 10px;*/
    color: #fff;
    margin: 20px;
    transition: all 0.8s ease;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: rgba(233, 4, 156, 0.4) 2px 2px, rgba(126, 126, 126, 0.3) 10px 10px, rgba(204, 204, 204, 0.2) 15px 15px, rgba(42, 42, 42, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    margin-left: 4rem;
  }
   
   .card:hover{
    background-position: left center;
    background-size: 500px;
  }
  .border{
    opacity: 0;
    width: 280px;
    height: 330px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.4s ease;
    position: relative;
    background-color:#ffffff9d;
  }
   .card:hover .border{
    opacity: 1;
  }
  .border h1{
    top: 30px;
    left: 15px;
    position: absolute;
    font-size: 36px;
     z-index:3;
    text-transform:uppercase;
    color:#131313;
   font-weight: 800;
   line-height: 38px;
    
  }
  /*.border img {
    position: absolute;
    width:50%;
    top:90px;
    left:50px;
    z-index:1;
  }*/
  .border button{
    top: 200px;
    left: 70px;
    position: absolute;
    font-size: 18px;
    padding:6px 28px;
    background-color:#f300b5;
    color:#fff;
    border-color:transparent;
    width:auto;
  }
  
  .border ul{
    bottom: 20px;
    left: 20px;
    position: absolute;
    transition: all 0.4s ease;
  }
  .border li{
    margin: 5px 0;
    transform: translateX(-120px);
    transition: all 0.4s ease;
    color:#f300b4;
    list-style: none;
    font-size: 25px;
  }
  .border li:nth-child(1){
    transition: all 0.4s ease;
  }
  .border li:nth-child(2){
    transition: all 0.6s ease;
  }
  .border li:nth-child(3){
    transition: all 0.8s ease;
  }
  .border li:nth-child(4){
    transition: all 1s ease;
  }
  .border li:nth-child(5){
    transition: all 1.2s ease;
  }
  .border li i{
    transition: all 0.6s ease;
    cursor: pointer;
    color:#131313;
    
  }
  .border li:hover i{
    color: #f300b4;
  }
   .card:hover .border ul{
    transform: translateX(0);
  }
   .card:hover .border ul li{
    transform: translateX(0);
  }
  @media (max-width: 500px) {
    .card{
      margin-left: 1rem;
    }
    
}
  