.container{
  /*width: 100%;*/
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../imagenes/intro-effects3.png) ; 
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
  overflow: hidden;
  animation: bg 5s ease 0s 1 normal forwards;
  position: relative;
  
}

@keyframes bg {
	0% {
		background-position: left center;
		background-size: 25%;
	}

	100% {
		background-position: left center;
		background-size: 50%;
	}
}
.intro-container{
  display: flex;
  flex-wrap: wrap;
 
}

.carlos-imagen {
  margin-top: 50px;
 margin-left:-200px;
 width: 640px;
 z-index:6;
 animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
/*.effect-imagen {
  width: 700px;
  animation: effect 2s ease 0s 1 normal forwards;
  margin-top: 100px;
  left: 10%;
 }
 @keyframes effect {
	0% {
		opacity: 0;
		transform: translateX(-850px);
	}

	100% {
		opacity: 1;
		transform: translateX(-250px);
	}
}*/

.triangulo1, .triangulo2, .triangulo3 {
    position: absolute;
    filter: drop-shadow(22px -12px 7px rgba(0, 0, 0, 0.5));
}
.triangulo1 {
    z-index: 2;
    top: 30%;
    left: 42%;
    width:70px;
    height: 70px;
    transform: rotate(100deg);
    animation: triangulo1 5s infinite alternate-reverse;
}
.triangulo2 {
    width:350px;
    height: 350px;
    z-index: 1;
    top: 4%;
    left: 24%;
    transform: rotate(150deg);
    animation: triangulo2 2s infinite alternate-reverse ease-in-out;
}
.triangulo3 {
    width: 100px;
    height: 100px;
    z-index: 0;
    top: 40%;
    left: 55%;
    transform: rotate(210deg);
    filter: drop-shadow(-22px -12px 7px rgba(0, 0, 0, 0.5));
    animation: triangulo3 8s infinite alternate-reverse ease-in-out;
}
.triangulo4 {
  width: 80px;
  height: 80px;
  z-index: 0;
  top: 50px;
  left: 205px;
  transform: rotate(260deg);
  filter: drop-shadow(-22px -12px 7px rgba(0, 0, 0, 0.5));
  animation: triangulo4 8s infinite alternate-reverse ease-in-out;
}
@keyframes triangulo1 {
    from {
        transform: translateY(20px) rotate(100deg);
   }
    to {
        transform: translateY(0) rotate(120deg);
   }
}
@keyframes triangulo2 {
    from {
        transform: translateY(0) rotate(110deg);
   }
    to {
        transform: translateY(50px) rotate(90deg);
   }
}
@keyframes triangulo3 {
    from {
        transform: translateY(40px) rotate(210deg);
   }
    to {
        transform: translateY(0) rotate(240deg);
   }
}
@keyframes triangulo4 {
  from {
      transform: translateY(80px) rotate(110deg);
 }
  to {
      transform: translateY(0) rotate(240deg);
 }
}
.text-intro{
    max-width: 600px;
    font-family: 'Kanit', sans-serif;
   /*margin-left: 150px;*/
   align-items: center;
   justify-content: center;
   text-align: center;


}

.tittle {
    font-size: 4.9rem;
    font-weight:bolder;
    line-height: 0.85;
    padding: 1rem;
    text-align: center;
    
}

.nombre{
    font-size: 1.5rem;
    font-weight: 200;
}
.buttons {
    display: flex;
    margin-top: 1rem;
  }
  .buttons a {
    width: 100%;
    padding: 1rem;
    border: 1px solid #131313;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .buttons a:hover{
    border: 1px solid #f300b4;
    transform: translateY(-2px);
    box-shadow: 0 10px  26px -20px #f300b4;
  }
  
  .buttons a.cta{
    background: #f300b4;
    border: 1px solid transparent;
    color: #fafafa;
    font-weight: bold;
  }
  .buttons a.cta:hover{
    background: transparent;
    border: 1px solid #f300b4;
    color: #131313;
  }
  .text-effect{
    font-size: 22px;
    font-weight: 200;
    margin-top: 12px;
  }
  .text-effect span{
    font-size: inherit;
   color:#f300b4;
  }
  .text-effect a{
    font-size: 22px;
    color: #131313;
  }
  
  .arrow {
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%,-50%);
    display:inline-block;
    width: 100px;
     height: 100px;
  }
  .arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #131313;
    border-right: 2px solid #ff03c8;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
    animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
    animation-delay: -0.4s;
  }
  @keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
   }
    50%{
        opacity: 1;
   }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
   }
  }
  
  
  

  @media (max-width: 48em) {
    .carlos-imagen {
      margin-top: 10px;
      left: -30%;
    width: 440px;
    }
    .arrow {
      position: absolute;
      top: 90%;
      left: 170%;
      transform: translate(-50%,-50%);
      display:inline-block;
      width: 100px;
       height: 100px;
    }
    .triangulo2 {
      width:350px;
      height: 350px;
      z-index: 1;
      top: 4%;
      left: 4%;
      transform: rotate(130deg);
      animation: triangulo2 2s infinite alternate-reverse ease-in-out;
  }

  /*.effect-imagen {
  
    width: 800px;
    animation: effect 2s ease 0s 1 normal forwards;
 }
 @keyframes effect {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	100% {
		opacity: 1;
		transform: translateX(-160px);
	}
}*/
.text-intro{
  max-width: 300px;
 
}

.tittle {
  font-size: 3rem;
  
}

  }
  
  @media (max-width: 64em) {
    .carlos-imagen {
      top: 40px;
      margin-left: -200px;
    }
    .arrow {
      position: absolute;
      top: 65%;
      left: 98%;
    }
    .container{
     
      animation: bg 5s ease 0s 1 normal forwards;
    }
    @keyframes bg {
      0% {
        background-position: left center;
        background-size: 50%;
      }
    
      100% {
        background-position: left center;
        background-size: 100%;
      }
    }

 /* .effect-imagen {
  
    max-width: 1050px;
    top: 50px;
   
 }
 */
.text-intro{
  max-width: 380px;
  left: 80%;
  margin-top: 5%;
}
.tittle {
  font-size: 3.4rem; 
}
  }