main::before {
	animation: grain 8s steps(10) infinite;
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
	
}
.containerlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.containerlist h1 span{
	font-weight: 500;
	border-bottom: 1px solid #f300b4;
  }
.containerlist h1 {
	font-weight: 800;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}


.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
	overflow: hidden;
	
}
.menu_all_projects{
	display: flex;
	justify-content: left;
	margin-left:2rem;
	text-align: center;
	align-items: center;
}
.menu_all_projects p{
	margin-right: 1rem;	
	color:rgb(59, 59, 59);
	margin-bottom: 2rem;
}
.menu_all_projects p span{
	color:#131313;
	font-weight: 700;	
}
.menu_all_projects a{
color:#131313;
font-size: 2.2rem;
margin-bottom: 2rem;
		
}
.menu_all_projects a:hover{
	color:#f300b4;
	font-size: 2.2rem;
	margin-bottom: 2rem;
			
	}

.menu__item {
	cursor: default;
	position: relative;
	padding: 0 5vw;
	
}
.menu__item  span{
	padding: 5px;
	top:-100px;

}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 3.5px #f300b4;

	-webkit-text-fill-color: transparent;

	color: transparent;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	font-family: kanit, sans-serif;
	counter-increment: menu;
	/*content:  counter(menu);*/
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 60vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,90px,0);
	outline: 1px solid #f300b4;
	outline-offset: 5px;		
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,2deg);
	transition: all 0.4s;	
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode:difference;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 9rem;
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}
.category{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: 400;
	font-size: 0.8rem;
	text-transform: uppercase;
}

/*  papel Origami */
.pl, .pl:before, .pl:after {
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.pl {
	margin: 8px;
	position: relative;
	width: 20px;
	height: 20px;
}
.pl:before, .pl:after {
	background:#131313;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	transform-origin: 50% 100%;	
	clip-path: polygon(0 0,100% 0,50% 100%);
	-webkit-clip-path: polygon(0 0,100% 0,50% 100%);
}

/* Origami */
.pl-origami {
	animation-name: origamiA;
	animation-timing-function: steps(4);
}
.pl-origami:before, .pl-origami:after {
	clip-path: polygon(50% 0,100% 100%,0% 100%);
	-webkit-clip-path: polygon(50% 0,100% 100%,0% 100%);
}
.pl-origami:before {
	animation-name: origamiB;
}
.pl-origami:after {
	animation-name: origamiC;
	transform: rotate(180deg);
}
@keyframes origamiA {
	from { transform: rotate(0) }
	to { transform: rotate(-360deg) }
}
@keyframes origamiB {
	from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateX(0deg) }
	12.5%, 62.5% { opacity: 1; transform: translateZ(1px) rotateX(-180deg) }
	37.5%, 87.5% { opacity: 0; transform: translateZ(0) rotateX(0deg) }
}
@keyframes origamiC {
	from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
	12.5%, 62.5% { opacity: 0; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
	37.5%, 87.5% { opacity: 1; transform: translateZ(1px) rotateZ(180deg) rotateX(-180deg) }
}


@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}


@media (max-width: 768px) {
	.menu__item-link,
	.marquee span {
		white-space: nowrap;
		font-size: 5rem;
		
		line-height: 2.50;
	}
	.menu__item-link {
		-webkit-text-stroke: 2.5px #f300b4;
	
	}
	

}
@media (max-width: 500px) {
	.menu__item-link,
	.marquee span {
		white-space: nowrap;
		font-size: 3rem;
		
		line-height: 1.50;
	}
	.menu__item-link {
		-webkit-text-stroke: 1.5px #f300b4;
	
	}
	.menu__item-img {
		pointer-events: none;
		position: absolute;
		height: 20vh;
		max-height: 300px;
		opacity: 0;
		left: 100%;
		top: 50%;
		transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,90px,0);
		outline: 1px solid #f300b4;
		outline-offset: 5px;
		
		
	}
	
	.menu__item-link:hover + .menu__item-img {
		opacity: 1;
		transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,2deg);
		transition: all 0.4s;
		z-index: 5;
	}
	.containerlist{
		margin-top: 1rem;
		margin-bottom: 1rem;
	  }
}