.container_project {
    width: 100%;
    margin: 3.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left_intro {
    width: 60%; 
  }
  .left_intro  img{
    width:100%; 
    filter: saturate(100%);
    transition: all 0.9s ease;
  }
  .left_intro  img:hover{
    filter: saturate(0%);
  }
  .right_intro {
    width: 40%;
     background: radial-gradient(circle, rgba(223,223,223,1) 0%, rgba(255,255,255,1) 49%, rgba(253, 253, 253, 0.4) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    margin-left: -100px;
    position:relative;
    box-shadow: rgba(233, 4, 156, 0.4) 2px 2px, rgba(126, 126, 126, 0.3) 10px 10px;
    padding: 30px 60px;
  }
  .content{
     word-wrap: break-word;
  }
  .right_intro h1 {
     font-size: 2.5rem;
     text-transform:uppercase;
     color:#131313;
     font-weight: 800;
     margin-bottom:1.2rem;
    position:relative;
  }
  
  .right_intro h3 {
     font-size: 1.2rem;
     color:#131313;
     font-weight: 400;
  }
  .right_intro p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    margin-bottom:1.2rem;
    color:#131313;
    font-weight: 200;
    width:80%;
  }
  
  .right_intro ul{
    display:flex;
    list-style:none;
    margin-bottom:1.2rem;
  }
  .right_intro li{
    background-color:#f300b5;
    margin-right:0.8rem;
    font-size:0.6rem;
    padding:6px 10px;
    text-transform:uppercase;
  }
  .enlaces {
    display:flex;
    justify-content:flex-end;
  }
  .enlaces a {
    text-decoration: none;
    color: #f300b5;
    display: inline-block;
    margin-bottom:1.2rem;
    margin-left:1.2rem;
  }
  .left_description{
    width:50%;
    margin: 3.5rem;
  }
  .left_description img{
    width:100%;
    filter: saturate(100%);
    transition: all 0.9s ease;
  }
  .left_description img:hover{
    filter: saturate(0%);
  }
  .right_description{
    width:50%;
    margin: 50px ;
  }
  .content_description{
    max-width:650px;
  }
  .content_description h2{
    position:relative;
    font-weight: 800;
    margin-top: 4.5rem;
  }
  .content_description h2:before{
          position: absolute;
          content: '';
          left: 125px;
         top: 22px;
          width: 50%;
          height: 2px;
          background-color: #f300b4;
      }
  .content_description p{
    font-weight: 200;
  }
  
  .pagination{
    display:flex;
    justify-content:space-between;
    font-size:1rem;
    margin:3.5rem;
  }
  .pagination a{
    color:#f300b4;
    font-size:1rem;
  }
  .pagination p{
    color:#121212;
    font-size:0.7rem;
  }
  
  
  
  
  
  @media only screen and (max-width: 768px) {
    .container_project {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left_intro {
      width: 100%;
      height: 400px;
    }
    .right_intro {
      width: 70%;
      margin: 0;
      margin-top: -100px;
    }
  }
  @media only screen and (max-width: 500px) {
    .container_project {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left_intro {
      width: 100%;
      height: 400px;
    }
    .right_intro {
      width: 100%;
      margin: 0;
      margin-top: -150px;
      margin-bottom: 100px;
    }
    .left_description {
      width: 100%;
      margin: 1.5rem;
    }
    
    .right_description {
      width: 100%;
      margin: 0;
      margin-top: -100px;
    }
  }