.container_project {
    width: 100%;
    margin: 3.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left_intro {
    width: 60%; 
  }
  .left_intro  img{
    width:100%; 
    filter: saturate(100%);
    transition: all 0.9s ease;
  }
  .left_intro  img:hover{
    filter: saturate(0%);
  }
  .right_intro {
    width: 40%;
    background:var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: var(--text-hover);
    margin-left: -100px;
    position:relative;
    box-shadow:var(--fbox-shadow);
    padding: 30px 60px;
  }
  .content{
     word-wrap: break-word;
  }
  .right_intro h1 {
     font-size: 2.5rem;
     text-transform:uppercase;
     color:var(--text-primary);
     font-weight: 800;
     margin-bottom:1.2rem;
     position:relative;
  }
  
  .right_intro h3 {
     font-size: 1.2rem;
     color:var(--text-primary);
     font-weight: 400;
     padding: 1rem;
  }
  .right_intro p {
      margin: 20px 0;
      padding: 1rem;
      font-weight: 500;
      line-height: 25px;
      margin-bottom:1.2rem;
      color:var(--text-primary);
      font-weight: 200;
      width: 90%;
      text-align: justify;
  }
  
  .right_intro ul{
      display:flex;
      list-style:none;
      margin-bottom:1.2rem;
  }
  .right_intro li{
      background-color: var(--accent);
      margin-right:0.8rem;
      font-size:0.6rem;
      padding:6px 10px;
      text-transform:uppercase;
  }
  .enlaces {
      display:flex;
      justify-content:flex-end;
  }
  .enlaces a {
      text-decoration: none;
      color:  var(--accent);
      display: inline-block;
      margin-bottom:1.2rem;
      margin-right:1.2rem;
  }
  .left_description{
      width:50%;
      margin: 3.5rem;
  }
  .left_description img{
      width:100%;
      filter: saturate(100%);
      transition: all 0.9s ease;
  }
  .left_description img:hover{
      filter: saturate(0%);
  }
  .right_description{
      width:50%;
      margin-left: 50px ;
  }
  .content_description{
      width:100%;
  }
  .content_description h2{
      position:relative;
      font-weight: 800;
      margin-top: 4.5rem;
      margin-bottom: 1.5rem;
  }
  .content_description h3{
    font-weight: 400;
}
  .content_description span{
      position:relative;
      font-weight: 200;
      margin-top: 4.5rem;
      margin-bottom: 1.5rem;
  }
  
  .content_description h2:before{
      position: absolute;
      content: '';
      left: 0px;
      bottom: -7px;
      width: 50%;
      height: 2px;
      background-color:  var(--accent);
}
     
  .content_description p {
      font-weight: 200;
      padding: 1rem;
      width: 90%;
      text-align: justify;
  }
  
  .pagination{
      display:flex;
      justify-content:space-between;
      font-size:1rem;
      margin:3.5rem;
  }
  .pagination a{
      color: var(--accent);
      font-size:1rem;
  }
  .pagination p{
      color:var(--text-primary);
      font-size:0.7rem;
  }
  
  
  
  
  
  @media only screen and (max-width: 768px) {
    .container_project {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    
    .left_intro {
      width: 100%;
     
    }
    .right_intro {
      width: 70%;
      margin: 0;
      margin-top: -100px;
    }
    .right_description{
      width:80%;
      margin: 50px ;
  }
  .left_description{
    width:80%;
    margin: 50px ;
}
  }
  @media only screen and (max-width: 500px) {
    .container_project {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left_intro {
      width: 100%;
      height: 400px;
    }
    .right_intro {
      width: 100%;
      margin: 0;
      margin-top: -150px;
      margin-bottom: 100px;
    }
    .left_description {
      width: 100%;
      margin: 1.5rem;
    }
    
    .right_description {
      width: 100%;
      margin: 0;
      margin-top: -100px;
    }
  }