
*,*::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  background: var(--background);
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
}


a {
  text-decoration: none;
}
.button, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
p{
  color:var(--text-secondary);
}
h2,h1,h3{
  color: var(--text-primary);
}


